.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #7a7a7a;
}

.check {
  align-self: flex-start;
  align-self: center;
  flex: 0.1;
  user-select: none;
}

.task-content {
  flex: 0.8;
}

.task-title {
  font-weight: bold;
}

.task-text {
  font-size: 0.8rem;
}
.task-icons {
  align-self: flex-end;
  flex: 0.1;
}
.clickable {
  cursor: pointer;
  animation-duration: 0.8s;
  user-select: none;
}

.clickable:hover {
  scale: 1.2;
}
