.app-container {
  text-align: center;
  align-content: center;
  background-color: aliceblue;
}

.task-list {
  justify-content: center;
  display: inline-block;
  flex-direction: column;
  width: 80vw;

  margin-top: 10px;
}
