.edit-buttons {
  display: flex;
  flex-direction: column;
}

.add-task-title {
  text-align: center;
}

.add-task-label {
  color: black;
}

.green {
  color: green
}

.green:hover {
  color: rgb(10, 94, 10)
}

.green:active {
  color: rgb(39, 160, 39)
}

.red {
  color: red;
}

.red:hover {
  color: rgb(146, 5, 5);
}

.red:active {
    color: rgb(241, 82, 82);
}
