<div class="edit-dialog">
  <h3 class="edit-title">Edit Task</h3>
<div mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="edit-form">
      <div class="edit-input">
        <label class="input-label">Title</label>
      <input
        ngModel
        #todoTitleField="ngModel"
        required
        name="title"
        type="text"
        class="input"
        placeholder="New title"
        [ngModel]="task.title"
      />
      </div>
      <div class="edit-input">
        <label class="input-label">Description</label>
      <input
        ngModel
        #todoTextField="ngModel"
        required
        name="text"
        type="text"
        class="input"
        placeholder="New text"
        [ngModel]="task.text"
      />
      </div>

    </div>
    <div *ngIf="form?.touched && form?.invalid">
      <p class="warning-red">All text fields must be completed!</p>
    </div>
    <div class="edit-buttons">
      <button (click)="close()">Cancel</button>
      <button type="submit">Save</button>
    </div>
  </form>
</div>

</div>
